In [1]:
from __future__ import print_function, division
import matplotlib.pyplot as plt

from neuralnilm.data.loadactivations import load_nilmtk_activations
from neuralnilm.data.syntheticaggregatesource import SyntheticAggregateSource
from neuralnilm.data.datapipeline import DataPipeline

Couldn't import dot_parser, loading of dot files will not be possible.

In [2]:
nilmtk_activations = load_nilmtk_activations(
    appliances=['kettle', 'microwave', 'washing machine'],
    filename='/data/mine/vadeec/merged/ukdale.h5',
    buildings=[1, 2],
    sample_period=6,
    window=("2013-04-01", "2013-05-01")
)

Loading kettle for UK-DALE_building_1...

INFO:neuralnilm.data.loadactivations:Loading kettle for UK-DALE_building_1...

Loaded 164 kettle activations from UK-DALE_building_1.

INFO:neuralnilm.data.loadactivations:Loaded 164 kettle activations from UK-DALE_building_1.

Loading microwave for UK-DALE_building_1...

INFO:neuralnilm.data.loadactivations:Loading microwave for UK-DALE_building_1...

Loaded 174 microwave activations from UK-DALE_building_1.

INFO:neuralnilm.data.loadactivations:Loaded 174 microwave activations from UK-DALE_building_1.

Loading washing machine for UK-DALE_building_1...

INFO:neuralnilm.data.loadactivations:Loading washing machine for UK-DALE_building_1...

Loaded 24 washing machine activations from UK-DALE_building_1.

INFO:neuralnilm.data.loadactivations:Loaded 24 washing machine activations from UK-DALE_building_1.

Loading kettle for UK-DALE_building_2...

INFO:neuralnilm.data.loadactivations:Loading kettle for UK-DALE_building_2...

Loaded 94 kettle activations from UK-DALE_building_2.

INFO:neuralnilm.data.loadactivations:Loaded 94 kettle activations from UK-DALE_building_2.

Loading microwave for UK-DALE_building_2...

INFO:neuralnilm.data.loadactivations:Loading microwave for UK-DALE_building_2...

Loaded 0 microwave activations from UK-DALE_building_2.

INFO:neuralnilm.data.loadactivations:Loaded 0 microwave activations from UK-DALE_building_2.

Loading washing machine for UK-DALE_building_2...

INFO:neuralnilm.data.loadactivations:Loading washing machine for UK-DALE_building_2...

Loaded 0 washing machine activations from UK-DALE_building_2.

INFO:neuralnilm.data.loadactivations:Loaded 0 washing machine activations from UK-DALE_building_2.

In [3]:
source = SyntheticAggregateSource(
    activations=nilmtk_activations,
    target_appliance='kettle',
    seq_length=128
)

In [4]:
seq = source.get_sequence()

In [5]:
all(seq.all_appliances.sum(axis=1).values == seq.input)

True

In [6]:
fig, axes = plt.subplots(2, sharex=True)
seq.all_appliances.plot(ax=axes[0])
axes[1].plot(seq.input)
plt.show()

In [21]:
pipeline = DataPipeline(source, num_seq_per_batch=4)

In [22]:
batch = pipeline.get_batch()

In [26]:
batch.all_appliances[3]

appliance  kettle  microwave  washing machine
0            2943          0                0
1            2968          0                0
2            2954          0                0
3            2954          0                0
4               0          0                0
5               0          0                0
6               0          0                0
7               0          0                0
8               0          0                0
9               0          0                0
10              0          0                0
11              0          0                0
12              0          0                0
13              0          0                0
14              0          0                0
15              0          0                0
16              0          0                0
17              0          0                0
18              0          0                0
19              0          0                0
20              0          0                0
21              0          0                0
22              0          0                0
23              0          0                0
24              0          0                0
25              0          0                0
26              0          0                0
27              0          0                0
28              0          0                0
29              0          0                0
..            ...        ...              ...
98              0          0              154
99              0          0              154
100             0          0               10
101             0          1                9
102             0          1              193
103             0       1546                3
104             0       1546               10
105             0       1571               53
106             0       1575              163
107             0       1571              163
108             0          1              190
109             0          0                9
110             0          0              200
111             0          0              200
112             0          0               10
113             0          0              238
114             0          0              200
115             0          0             2017
116             0          0             1800
117             0          0               10
118             0          0             2022
119             0          0             1832
120             0          0             1851
121             0          0             1851
122             0          0             1794
123             0          0               10
124             0          0             2073
125             0          0             2004
126             0          0             2004
127             0          0             1931

[128 rows x 3 columns]